@charset "UTF-8";

.button1 a,
.button2 a,
.buttonA a,
.buttonT a,
.buttonN a,
.buttonZ a,
.buttonM a {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 0px;
}

.button1 a {
	color: var(--colorM2);
}

.button2 a {
	color: var(--colorS2);
}

.button1b a,
.button2b a,
.buttonAb a,
.buttonTb a,
.buttonNb a,
.buttonZb a,
.buttonMb a {
	margin-bottom: 15px;
	padding: 0;
	transition: all 0.3s;
}

.button1b a span,
.button2b a span,
.buttonAb a span,
.buttonTb a span,
.buttonNb a span,
.buttonZb a span,
.buttonMb a span {
	box-sizing: border-box;
	position: relative;
	display: block;
	border-radius: 5pt;
	padding: .4em 2em;
	transition: all 0.3s;
}

.button1b a span {
	color: var(--colorM2);
	border: medium solid var(--colorM3);
	background-color: #fff;
}

.button2b a span {
	color: var(--colorS2);
	border: medium solid var(--colorS2);
	background-color: #fff;
}

.buttonAb a span {
	border: 0;
	color: #fff;
	background-color: #f90;
}

.buttonTb a span {
	border: 0;
	color: #fff;
	background-color: #000;
}

.buttonNb a span {
	border: medium solid #000;
	color: #000;
	background-color: #fff;
}

.buttonZb a span {
	border: medium solid #3EA8FF;
	color: #000;
	background-color: #E6F2FF;
}

.buttonMb a span {
	border: 0;
	color: #fff;
	background-color:#2AA3B2;
}

.buttonAb a span:before,
.buttonTb a span:before,
.buttonNb a span:before,
.buttonZb a span:before {
	display: inline-block;
	content: "";
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.3s;
}

.buttonAb a span:before {
	width: 100px;
	height: 1em;
	vertical-align: text-bottom;
	background-image: url(/images/Amazon-SmileW.svg);
}

.buttonTb a span:before {
	width: 24px;
	height: 16px;
	padding-right: 1em;
	vertical-align: text-bottom;
	background-image: url(/images/X-logo.svg);
}

.buttonNb a span:before {
	width: 65px;
	height: 1.5em;
	padding-right: 1em;
	vertical-align: bottom;
	background-image: url(/images/note-logo.svg);
}

.buttonZb a span:before {
	display: inline-block;
	content: "";
	width: 65px;
	height: 1em;
	padding-right: 1em;
	background-image: url(/images/Zenn-logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: text-bottom;
	transition: all 0.3s;
}

.buttonMb a span:before {
	display: inline-block;
	content: "";
	width: 80px;
	height: 1.3em;
	padding-right: 1em;
	background-image: url(/images/Mathlog-logoW.svg);
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: -4pt;
	transition: all 0.3s;
}

.button1b a:before,
.button2b a:before,
.buttonAb a:before,
.buttonTb a:before,
.buttonNb a:before,
.buttonZb a:before,
.buttonMb a:before {
	box-sizing: border-box;
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 100%;
	height: 30px;
	border-radius: 0 0 5pt 5pt;
	content: "";
	transition: all 0.3s;
}

.button1b a:before {
	border: medium solid var(--colorM1);
	background-color: var(--colorM1);
}

.button2b a:before {
	border: medium solid var(--colorS1);
	background-color: var(--colorS1);
}

.buttonAb a:before,
.buttonNb a:before,
.buttonMb a:before
{
	border: medium solid #000;
	background-color: #000;
}

.buttonTb a:before,
.buttonZb a:before
{
	border: medium solid var(--colorB2);
	background-color: var(--colorB2);
}

.button1b a:hover,
.button2b a:hover,
.buttonAb a:hover,
.buttonTb a:hover,
.buttonNb a:hover,
.buttonZb a:hover,
.buttonMb a:hover {
	transform: translate(0, 7px);
}

.button1b a:hover:before,
.button2b a:hover:before,
.buttonAb a:hover:before,
.buttonTb a:hover:before,
.buttonNb a:hover:before,
.buttonZb a:hover:before,
.buttonMb a:hover:before {
	bottom: -8px;
}

.button1 a span:active {
	color: #fff;
	background-color: var(--colorM3);
	transition: all 0.3s;
}

.button2 a span:active {
	color: #fff;
	background-color: var(--colorS2);
	transition: all 0.3s;
}

.buttonA a span:active {
	color: #f90;
	background-color: #fff;
	transition: all 0.3s;
}

.buttonT a span:active {
	color: #000;
	background-color: #fff;
	transition: all 0.3s;
}

.buttonN a span:active {
	color: #fff;
	background-color: #000;
	transition: all 0.3s;
}

.buttonZ a span:active {
	color: #fff;
	background-color: #3EA8FF;
	transition: all 0.3s;
}

.buttonM a span:active {
	color: #000;
	background-color: #fff;
	transition: all 0.3s;
}

.button1b a:active,
.button2b a:active,
.buttonAb a:active,
.buttonTb a:active,
.buttonNb a:active,
.buttonZb a:active,
.buttonMb a:active {
	transform: translate(0, 14px);
}

.button1b a:active:before,
.button2b a:active:before,
.buttonAb a:active:before,
.buttonTb a:active:before,
.buttonNb a:active:before,
.buttonZb a:active:before,
.buttonMb a:active:before {
	bottom: -.1px;
}

.buttonAb a span:active:before {
	background-image: url(/images/Amazon-Smile.svg);
	transition: all 0.3s;
}

.buttonTb a span:active:before {
	background-image: url(/images/X-logoB.svg);
	transition: all 0.3s;
}

.buttonNb a span:active:before {
	background-image: url(/images/note-logoW.svg);
	transition: all 0.3s;
}

.buttonZb a span:active:before {
	background-image: url(/images/Zenn-logoW.svg);
	transition: all 0.3s;
}

.buttonMb a span:active:before {
	background-image: url(/images/Mathlog-logo.svg);
	transition: all 0.3s;
}