@charset "UTF-8";

:root {
	--colorB1: #000;
	--colorB2: #999;
	--colorB3: #C7C7C7;
	--colorB4: #E6E6E6;
	--colorB5: #fff;
	--colorM1: #131946;
	--colorM2: #25318D;
	--colorM3: #384AD3;
	--colorM4: #8F98E2;
	--colorM5: #B5BCF0;
	--colorS1: #500;
	--colorS2: #A00;
	--colorS3: #F00;
	--colorS4: #FF8080;
	--colorS5: #FAA;

	font-size: 16px;
	line-height: 32px;
	font-family: 'BIZ UDPGothic', sans-serif;
}

.html {
	font-size: 16px;
	line-height: 24px;
}

.common body {
	display: flex;
	/* footer を下に張り付かせるための設定 */
	flex-direction: column;
	min-height: 100vh;
	/* margin: 0 にしないと変なすきまが空く*/
	margin: 0;
	font-size: 1rem;
	line-height: 1.5em;
}

.common section,
.container {
	min-width: 1000px;
	max-width: 60vw;
	padding: 0 2rem;
	margin: 0 auto;
}

.common h1,
h2 {
	white-space: nowrap;
	line-height: 2em;
	text-align: center;
}

.common h1 {
	color: white;
	background: var(--colorM2);
	font-size: 3rem;
}

.common h2 {
	border-bottom: solid thick var(--colorM2);
	font-size: 2.5rem;
}

.common p {
	font-size: 1rem;
	text-indent: 1rem;
}

.common header,
footer {
	width: 100%;
	min-width: calc(1000px + 4rem);
}

.common header {
	position: sticky;
	top: 0;
	z-index: 1000;
	height: 100px;
	border-bottom: thick solid var(--colorB2);
	background-color: var(--colorB5);
	font-size: 3em;
	font-weight: bold;
}

.common footer {
	height: 100px;
	padding-top: 1em;
	border-top: thick solid var(--colorB2);
	margin-top: auto;
	background-color: var(--colorB3);
}

.common dt {
	white-space: nowrap;
	min-width: calc(100% - 1em);
	padding-left: 1em;
	border-left: thick solid var(--colorM2);
	font-size: 1.5rem;
	line-height: 2em;
	font-weight: bold;
	background-color: var(--colorB3);
}

.common dd {
	padding: 0 2em 0 2em;
	margin: 1em 0;
	font-size: 1rem;
}

.common blockquote {
	padding: 1em;
	border-left: thick solid var(--colorB3);
	margin: .5em 1em;
	color: #555;
	background-color: var(--colorB4);
}

.center {
	text-align: center;
}

#class h2 {
	counter-reset: class;
}

#class summary::before {
	counter-increment: class;
	content: "【第 " counter(class) " 講】 ";
}

#class summary {
	cursor: pointer;
	white-space: nowrap;
	min-width: calc(100% - 1em);
	padding-left: 1rem;
	border-bottom: medium solid var(--colorM2);
	border-left: thick solid var(--colorM2);
	font-size: 1.5rem;
	line-height: 2em;
	font-weight: bold;
	background-color: var(--colorB3);
}

#class details {
	margin-bottom: 2em;
	background-color: var(--colorB4);
}

#class details>p {
	padding: 0 2em;
}

#class details>dl {
	padding: 2em;
	padding-top: 0;
}

#twitter,
#note,
#zenn {
	position: relative;
	top: 7px;
	height: 32px;
	padding-right: 0.5em;
}

#wix {
	position: relative;
	top: 7px;
	height: 18px;
	padding: 8px;
	padding-right: 1em;
}

#amazon {
	width: 150px;
	padding: 0 2em;
	float: left;
	position: relative;
	top: 5px;
}