@charset "UTF-8";

body {
	line-height: 1.5em;
	font-size: 16pt;
}

h1 {
	min-width: 100vw;
	display: inline-block;
	color: white;
	background: #25318D;
	white-space: nowrap;
	text-align: center;
	line-height: 2em;
	font-size: 3em;
}