@charset "UTF-8";

body {
	line-height: 1.5em;
	font-size: 16px;
	border: 0;
}

h1 {
	display: inline-block;
	white-space: nowrap;
	min-width: 100vw;

	color: white;
	background: #25318D;
	text-align: center;
	line-height: 2em;
	font-size: 50px;
}

h2 {
	padding: .75em;
	border-bottom: solid thick #25138D;
	text-align: center;
	font-size: 50px;
}

dt {
	font-weight: bold;
}