@charset "UTF-8";

.common body {
	line-height: 1.5em;
	font-size: 16px;
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
}

.common h1 {
	display: inline-block;
	white-space: nowrap;
	min-width: 100%;

	color: white;
	background: #25318D;
	text-align: center;
	line-height: 2em;
	font-size: 50px;
}

.common h2 {
	display: inline-block;
	white-space: nowrap;
	min-width: 100%;
	border-bottom: solid thick #25318D;
	text-align: center;
	line-height: 2em;
	font-size: 40px;
}

.common dt {
	background-color: #ddd;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 2em;
	padding-left: 1em;
	border-left: thick solid #25318D;
}